.counter-wrap {
  position: relative;
  text-align: center;
  h3 {
    color: $palette-common-white;
    font-weight: $font-bold;
    margin-bottom: $spacing2;
  }
  p {
    font-family: "Montserrat", sans-serif !important;
    color: $palette-common-white
  }
}

.call-action {
  margin-top: $spacing10;
  position: relative;
  text-align: center;
  color: $palette-common-white;
}

.button {
  margin-top: $spacing2
}
